<!-- HOME.HTML -->

{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
        <div class="post-entry">
            <h2> <a href= ""> {{ post.title }} </a> </h2>            
            <p> {{ post.body }} </p>
            <button type="button" class="btn btn-info"> <a href="{% url 'post_edit' post.pk %}  "> EDITAR  </a>
            <button type="button" class="btn btn-info"> <a href="{% url 'post_delete' post.pk %}  "  > ELIMINAR  </a>
            </div>
    {% endfor %}
{% endblock content %}